.y-bar, .x-bar{
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    > div{
        flex: 1;
        background: blue;
        position: relative;
        > i{
            display: block;
            background: yellow;
            position: absolute;
        }
    }

    > span{
        width: 20px;
        height: 20px;
        display: inline-block;
        background: pink;
    }
}

.x-bar{
    width: calc(100% - 20px);
    left: 0;
    bottom: 0;
    > div{
        height: 2px;
        > i{
            height: 10px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.y-bar{
    height: calc(100% - 20px);
    right: 0;
    top: 0;
    flex-direction: column;
    > div{
        width: 2px;
        > i{
            width: 10px;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
}

.bar-hover{
    i{
        background: green !important;
    }
}

.bar_end{
    background: sienna !important;
}


// 滚动条1
.y-bar-1, .x-bar-1 {
    > span{
        display: none;
    }
    > div{
        background: rgba(0,0,0,0.4);
        border-radius: 10px;
        border: 1px solid transparent;
        > i{
            background: rgba(255,255,255,0.4);
            border-radius: 10px;
            &:hover{
                background: rgba(255,255,255,0.6);
            }
        }
    }
}
.y-bar-1{
    right: 2px;
    top: 10px;
    height: calc(100% - 26px);
    > div{
        width: 6px;
        > i{
            width: 100%;
        }
    }
}
.x-bar-1{
    bottom: 2px;
    left: 10px;
    width: calc(100% - 26px);
    > div{
        height: 6px;
        > i{
            height: 100%;
        }
    }
}
.bar-hover-1{
    i{
        background: rgba(255,255,255,0.6) !important;
    }
}

// 滚动条2
.x-bar-2, .y-bar-2 {
    > span{
        display: none;
    }
    > div{
        background-color: transparent;
        >i{
            background-color: #02c5f8;
        }
    }
}
.x-bar-2{
    width: calc(100% - 1px);
    > div{
        i{
            height: 1px;
        }
    }
}
.y-bar-2{
    height: calc(100% - 1px);
    > div{
        i{
            width: 1px;
        }
    }
}
