/* -------------------动画一----------------start */
.v-enter {
    .col {
        opacity: 0;
        min-height: 20px !important;
        height: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.v-leave-to{
    .col{
        min-height: 0 !important;
        height: 0 !important;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.v-enter-active, .v-leave-active {
    transition: all 300ms linear;
    .col{
        transition: all 300ms linear;
    }
}
/* -------------------动画一----------------end */

/* -------------------动画二----------------start */
.slide-enter, .slide-leave-to {
    z-index: 4;
}
.slide-leave, .slide-enter-to {
    z-index: -1;
}
.slide-enter-active {
    animation: slide-in 500ms ease-out;
}
.slide-leave-active {
    animation: slide-out 300ms ease-out;
    position: absolute;
    width: calc(100% - 10px);
}
/* 想要让动画平滑一点，需要加v-move的类名，v-可以别name的值 */
.slide-move {
    transition: all 500ms;
}

@keyframes slide-in {
    from {
        transform: translateY(100%) scale(0.5);
    }
    to {
        transform: translateY(0) scale(1);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%) scale(0.5);
    }
}
/* -------------------动画二----------------end */